<div *ngIf="(isLoggedIn$ | async); else loginBlock">

    <!-- Logged In -->
    <span>Hi, {{ (user$ | async)?.name }}</span>
    <button (click)="logout()">Logout</button>

</div>
<ng-template #loginBlock>

    <a class="dks-header" [routerLink]="{ cxRoute: 'login' } | cxUrl">
        <div class="dks-user-actions d-flex align-items-center">
            <div class="action-item">
                <i class="far fa-user"></i>
                <span>Sign In</span>
            </div>
        </div>
    </a>
</ng-template>